
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


:root{
    font-size: 62.5%;
  --primary-color:#E30707;
  --background: #1A1A1A;
  --secondary-color:#819CFF;

}


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  width: 100vw;
  height: calc(100vh - 5rem);
  font-family: 'Secular One', sans-serif;
  overflow-x: hidden;
  
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

/*Navbar*/

#nav-bar {
  padding-inline: 2rem;
  width:100vw;
  height:5rem;
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

#nav-bar ul{
  display: flex;
  gap: 2rem;
  margin-bottom: 0;

}

#nav-bar ul li{
  list-style: none;
  font-size: 1.8rem;

}

/*Home*/

#home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  align-items: center;
  width: 100vw;
  
}

#home h1{
  color:var(--secondary-color);
  text-transform: uppercase;
  text-align: center;
}

#home h3{
 color:var(--primary-color);
 text-transform: uppercase;
}

#home #img-home-mobile{
  display: block;
  margin-top: 2rem;
  width: 100vw;
 } 

 #home #img-home{
   margin-top: 2rem;
   width: 100vw;
   display: none;
 }

 #home a{
   background-color: var(--secondary-color);
   text-decoration: none;
   color: var(--background);
   width: 10.5rem;
   height: 3.5rem;
   font-size: 1.8rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: 0.6rem;
   text-transform: uppercase;
 }

 #home #buttons-home{
   display: flex;
   flex-direction: column;
   margin-top: 3rem;
   gap: 2rem;
 }

 #home #buttons-home-linha1{
  display: flex;
  justify-content: center;
 }

 #home #buttons-home-linha2{
  display: flex;
  justify-content: center;
  gap: 2rem;
 }

 /*responsivo*/

 @media (min-width: 1024px){
  section#home a{
    display: none;
  }
  section#home #img-home{
    display: block;
  }
  section#home #img-home-mobile{
    display: none;
  }
 }


