@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
  font-size: 62.5%;
  --primary-color: #e30707;
  --background: #1a1a1a;
  --secondary-color: #819cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  width: calc(100vw-0.2rem);
  font-family: 'Secular One', sans-serif;
  overflow-x: hidden;
}

section h1 {
  display: inline;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
  width: 100vw;
}

section#catalogo h1,
section#sobre h1,
section#contato h1 {
  margin-top: 5rem;
}

section h3 {
  text-transform: uppercase;
  text-align: center;
}

/*Navbar*/

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  width: 100vw;
  height: 5rem;
  background-color: var(--primary-color);
}

#nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar #link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
}

#nav-bar #link-logo p {
  display: none;
  color: var(--background);
  font-size: 1.8rem;
  margin-bottom: 0;
}

#nav-bar ul {
  display: none;
  gap: 2rem;
  margin-bottom: 0;
}

#nav-bar ul a {
  list-style: none;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--background);
}

/*Home*/

#home.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 15rem;
  align-items: center;
  width: 100vw;
}

#home.container h3 {
  color: var(--primary-color);
  text-transform: uppercase;
}

#home.container #img-home-mobile {
  display: block;
  margin-top: 2rem;
  width: 100vw;
}

#home.container #img-home {
  margin-top: 2rem;
  display: none;
}

#home.container a {
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--background);
  width: 10.5rem;
  height: 3.5rem;
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  text-transform: uppercase;
}

#home.container #buttons-home {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}

#home.container #buttons-home-linha1 {
  display: flex;
  justify-content: center;
}

#home.container #buttons-home-linha2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/*Catalogo*/

#catalogo.container {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

#catalogo.container #cards {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  flex-wrap: wrap;
  margin-top: 6.4rem;
}

#catalogo.container #cards .card {
  width: 26.7rem;
  height: 18.3rem;
  background-color: var(--secondary-color);
}

#catalogo.container #cards .card:hover {
  background-color: var(--primary-color);
}

#catalogo.container #cards .card img {
  width: 100%;
  height: 15rem;
}
#catalogo.container #cards .card img {
  border: var(--primary-color);
}

#catalogo.container #cards .card :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--background);
  font-size: 1.8rem;
  padding-top: 0.5rem;
}

/* Sobre */

#sobre {
  margin-top: calc(3rem + 50px);
  display: flex;
  flex-direction: column;
}

#sobre #sobre-container,
#sobre #responsaveis-container {
  display: flex;
  flex-direction: column;
}

#sobre #sobre-container p {
  color: #fff;
  font-size: 1.8rem;
  text-align: justify;
}

#sobre h1 {
  text-align: center;
  margin-bottom: 3rem;
}

#sobre #responsaveis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#sobre #responsaveis-container #carrosel-alto {
  display: block;
  width: 90vw;
}

#sobre #responsaveis-container #carrosel-largo {
  display: none;
  width: 100%;
  transform: scale(80%);
}

/*Contato*/

#contato.container {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  height: 100vh;
}

#contato .row h1 {
  padding-bottom: 2rem;
}

#contato #container_esquerdo {
  padding-block: 5rem;
}

#contato #container_esquerdo iframe {
  padding-inline: 2rem;
  height: 35rem;
  width: 100%;
}

#contato #container_direito {
  display: flex;
  flex-direction: column;
}

#contato #container_direito form {
  padding-inline: 2rem;
  height: 35.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#contato #container_direito form input {
  width: 100%;
  font-size: 1.6rem;
}

#contato #container_direito form textarea {
  width: 100%;
  font-size: 1.6rem;
}

#contato #container_direito form #button_form {
  background-color: var(--secondary-color);
  color: var(--background);

  font-size: 1.6rem;

  text-transform: uppercase;

  margin-bottom: 5rem;
}

/*Footer*/

.footer {
  background-color: var(--primary-color);

  display: flex;

  align-items: center;
  justify-content: space-between;

  padding-inline: 2rem;

  left: 0;
  bottom: 0;

  width: 100vw;
  height: 7rem;
}

.footer .image img {
  width: 5rem;
  height: 5rem;
}

.footer .redes_sociais {
  display: flex;

  gap: 1rem;
}

.footer .redes_sociais ion-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.footer .redes_sociais ion-icon:hover {
  color: var(--secondary-color);
}

/*responsivo*/

@media (min-width: 1024px) {
  section#nav-bar #link-logo p {
    display: block;
    color: var(--background);
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  section#nav-bar ul {
    display: flex;
    gap: 2rem;
    margin-bottom: 0;
  }

  section#nav-bar .container #menu-hamburguer {
    display: none;
  }

  section#home.container {
    margin-top: 20rem;
    padding-block: 2%;
  }

  section#home.container a {
    display: none;
  }
  section#home.container #img-home {
    display: block;
    padding-inline: 2%;
  }
  section#home.container #img-home-mobile {
    display: none;
  }
  section#catalogo.container #cards .card {
    width: 43.2rem;
    height: 30.4rem;
  }
  section#catalogo.container #cards .card img {
    height: 26.8rem;
  }

  section#sobre {
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  section#sobre #responsaveis-container #carrosel-alto {
    display: none;
  }

  section#sobre #responsaveis-container #carrosel-largo {
    display: block;
  }

  section#contato {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  section#contato #container_direito,
  section#contato #container_esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92.5vh;
  }

  section#contato #container_esquerdo iframe {
    width: 40vw;
    height: 36rem;
  }

  section#contato #container_direito form {
    width: 40vw;
  }
}
